/*** `Preview` component styles ***/

/* Removes small top margin. */
.無-bbcode__preview-container .box {
  margin: 0;
}

/* Removes fat vertical margins. */
.無-bbcode__preview-container .description_blockquote {
  margin: auto;
}

.無-bbcode__preview-container {
  display: block;
  position: relative;
  margin: 10px 0;
  clear: both;
  text-align: start;
}

.無-bbcode__preview-container.hidden {
  display: none;
}

/*** `Controls` component styles ***/

/* No default styling for disabled buttons for some reason. */
input[type="button"]:disabled {
  background-color: #767676;
  box-shadow: none;
  color: #d5d4d4;
}

.無-bbcode__controls {
  display: flex;
  margin: 2px 0;
  flex-flow: row;
  gap: 10px;
  justify-content: center;
  align-self: center;
}

.無-bbcode__controls.hidden {
  display: none;
}

/*** Global stuff ***/

/* An attempt to make the buttons uniform. Flex is used to remove spacing caused
by white space. */
#quickreplybuttons {
  /* Forums have inline `inline` style. */
  display: inline-flex !important;
}

#buttons.center {
  display: flex;
  justify-content: center;
}

:is(#quickreplybuttons, #buttons) {
  margin: 5px 0;
  gap: 5px;
}

:is(#quickreplybuttons, #buttons) input {
  /* High specificity on group page. */
  margin: 0 !important;
}

/* Default 400px causes overflows. */
#upload #content input[type="url"] {
  width: min(90%, 400px) !important;
}

/* Gives the same appearance to desc as `margin-left: 5px;` (because of
 * `cellpadding="3"`) using much more stable parent padding. */
#upload .無-bbcode__desc_td {
  padding: 3px 8px;
}

/* To give stretched textareas breathing space. */
:is(#collections, #requests, #staffpm) .無-bbcode__desc_td {
  padding-right: 10px;
}

#collections .無-bbcode__controls input {
  margin: 0;
}

#collections .sidebar .無-bbcode__preview-container .box {
  width: auto;
}

/* Needed to relaim full width in a layout with floating cells. */
#requests .無-bbcode__desc_td {
  float: none;
  display: flex !important;
  flex-direction: column;
}

/* Since it creates annoying space in flex layout. */
#requests .無-bbcode__desc_td br {
  display: none;
}

/* Sloppy styling is really hard to ignore on this page. */
#requests #quickpostform {
  margin-top: 10px;
}

#requests #quickreplybuttons input {
  padding: 5px;
  height: 30px;
}

/* Specificity override. */
#content textarea.無-bbcode__desc {
  box-sizing: border-box;
  width: 100% !important;
  max-width: 100% !important; /* To combat weird mobile layout rules. */
  resize: vertical;
}

:is(
  #torrents,
  .無__upload_page,
  .無__new_request_page,
  .無__staff_pm_page,
  .無__view_thread_page,
  .無__report_v1_page,
  .無__report_v2_page,
  .無__wiki_create_or_edit_page,
  .無__user_edit_page
)
  .無-bbcode__desc {
  margin: 0;
}

:is(
  #quickreplybuttons,
  .無__pm_page,
  .無__staff_pm_page,
  .無__group_edit_page.無__has_prettify,
  .無__new_thread_page,
  .無__report_v1_page,
  .無__wiki_create_or_edit_page
)
  .無-bbcode__controls {
  display: contents;
}

/* Targeting specific pages to match host style. */
.無__add_torrent_link_page .無-bbcode__desc_td {
  padding: 0 5px;
}

.無__release_edit_page .無-bbcode__desc_td {
  padding: 3px;
  padding-right: 6px;
}

.ui-dialog[aria-describedby="expanded_review_box"]
  .ui-dialog-buttonset
  .無-bbcode__controls {
  display: inline-block;
  margin: 0;
}

/* Fixes textarea being way too slim in non-default styles, but also makes it
better aligned in general. */
#expanded_review_box textarea#review {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

#newthreadform td {
  text-align: start;
  padding: 0;
}

#newthreadform td.center {
  text-align: center;
}

#newthreadform input[type="text"] {
  box-sizing: border-box;
  margin: 2px 0;
}

#newthreadform #title {
  width: 100% !important;
  margin: 5px 0;
}

#newthreadform #answer_block {
  padding-top: 2px;
}

/* For `Subscribe to Thread` checkbox. */
.無__view_thread_page #quickreplybuttons {
  margin-left: 4px;
}

.無__report_v1_page form {
  box-sizing: border-box;
}
